:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F5F4F0;
  border-color: #D9D9D9;
}

#page {
  padding: 32px;
  border: 32px;
  margin: 32px;
}


#subtitle p {
  size: 16px;
  font-style: italic;
  text-align: center;
}

img {
  border-radius: 28px;  /* Adicionar o arredondamento da borda */
  width: 100%; /* imagem ocupa 100% do tamanho disponível pra ela */
}

#description {
  margin-top: 64px;
  margin-bottom: 64px;
}

#headline h3 {
  color: #E1624F;
  size: 16px;
  font-weight: bold;
}

h1 {
  size: 36px;
  font-weight: bold;
  color: #1B1B1B;
}

h2 {
  size: 32px;
  font-weight: bold;
  color: #1B1B1B
}

h3 {
  size: 28px;
  font-weight: bold;
  color: #E1624F
}

p {
  size: 16px;
  font-weight: regular;
  color: #333333;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

ul li::marker {
  color: #0C51A7;
  content: "・";
  font-size: 1rem;
}

ul + ul li::marker {
  color: #591B98;
}

ul + ul li + li::marker {
  color: #E5245E;
}

ul + ul + ul li + li + li::marker {
  color: #591B98;
}

#thirdlist ul li::marker {
  color: #E5245E;
}

